body{
	background: url('../images/2.jpg');
	text-align: center;
}
#img-principal{
	overflow: hidden;
	z-index: -100;
	position: absolute;
	margin-left: calc(100% - 550px);
	max-height: 500px;
	bottom: 0px;
	opacity: .7;
}
#eslogan{
	font-family: 'Helvetica';
	position: absolute;
	font-size: 55px;
	box-sizing: border-box !important;
	min-width: 99%;
	max-width: 99%;
	padding: 100px;
	text-align: center;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

#ver_catalogo{
	display: inline-block;
	position: fixed;
	bottom: 35px !important;
	margin-left: -78px;
}